:root {
    --green:#20BF55;
    --darkBlue:#0B4F6C;
    --lightBlue:#01BAEF;
    --white:#FBFBFF;
    --gray:#757575;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  margin: 2% 20%;
}

/* Navigation */
.topNav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: var(--green);
  width: 100%;
  box-sizing: border-box;
}

.logo {
  color: var(--white);
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
  padding-right: 20px;
}

.leftNav {
  float:left;
}

.rightNav {
  float: right;
}

.topNav nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.topNav nav ul li {
  list-style: none;
}

.topNav nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: var(--white);
  text-decoration: none;
  display: block;
  transition-duration: 0.5s;
}

.topNav nav ul li a:hover,
.topNav nav ul li a.active {
  color: var(--white);
  background-color: var(--lightBlue);
}

.menuToggle {
  color: var(--white);
  float: left;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.button {
  background-color: var(--green); /* Green */
  border: none;
  color: var(--green);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.buttonLogin {
  background-color: var(--green); 
  color: var(--white); 
}

.buttonLogin:hover {
  background-color: var(--lightBlue);
  color: white;
}
/* Navigation */

/* Login/SignUp */
input[type=text], input[type=password], input[type=passwordRepeat], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: var(--green);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.pswForgot {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}


@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=passwordRepeat], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=passwordRepeat]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
/* Login/SignUp */

/* Banner */
#banner {
  background-color: var(--darkBlue);
  width: 100vw;
  height: 80vh;
}


/* Banner */


/* Breakpoints */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo{
    float: right;
  }
  .topNav {
    padding: 0 40px;
  }
  .menuToggle{
    display: block;
  }
  .topNav nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: var(--green);
    top: 50px;
    left: -100%;
    transition: 0.5s;
    background-color: var(--gray);
  }
  .topNav nav.active{
    left: -50%;
  }
  .topNav nav.active ul li a {
    padding-left: 60%;
  }
  .topNav nav ul {
    display: block;
    text-align: left;
  }
  .topNav nav ul li a {
    border-bottom: 1px solid var(--darkBlue);
  }
  .leftNav {
    float:none;
  }
  
  .rightNav {
    float: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .topNav {
    padding: 0 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .topNav {
    padding: 0 40px;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .topNav {
    padding: 0 60px;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .topNav {
    padding: 0 80px;
  }
}
/* Breakpoints */